@model LogicLayer.DbLayer.pm_user

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>pm_user</legend>

    <div class="display-label">uid</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.uid)
    </div>

    <div class="display-label">registrationId</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.registrationId)
    </div>

    <div class="display-label">userType</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.userType)
    </div>

    <div class="display-label">gender</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.gender)
    </div>

    <div class="display-label">firstName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.firstName)
    </div>

    <div class="display-label">otherName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.otherName)
    </div>

    <div class="display-label">lastName</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastName)
    </div>

    <div class="display-label">dateOfBirth</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.dateOfBirth)
    </div>

    <div class="display-label">email</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.email)
    </div>

    <div class="display-label">lastVisit</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.lastVisit)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
