@model LogicLayer.DbLayer.pm_events

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<fieldset>
    <legend>pm_events</legend>

    <div class="display-label">uid</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.uid)
    </div>

    <div class="display-label">name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">eventDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eventDate)
    </div>

    <div class="display-label">eventDescription</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eventDescription)
    </div>

    <div class="display-label">createdDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdDate)
    </div>

    <div class="display-label">updateDate</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.updateDate)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}
