@model LogicLayer.pm_events

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>pm_events</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.uid)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.uid)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.name)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eventDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eventDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.eventDescription)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.eventDescription)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.createdDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.createdDate)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.updateDate)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.updateDate)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
