@model IEnumerable<LogicLayer.DbLayer.pm_speaker>
@{
    ViewBag.Title = "Index";
}
<h2>Expositores</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@using(Html.BeginForm())
{
    <div>
        Nombre:
        <input type="text" name="nombre" />  
        
        <input type="submit" value="Buscar"/>

    </div>
}



<table>
    <tr>
        <th>
            uid
        </th>
        <th>
            firstName
        </th>
        <th>
            lastName
        </th>
        <th>
            gender
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.uid)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.firstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.lastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.gender)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new {  id=item.uid  }) |
            @Html.ActionLink("Details", "Details", new { id=item.uid }) |
            @Html.ActionLink("Delete", "Delete", new {  id=item.uid})
        </td>
    </tr>
}

</table>
